<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c4.haumppis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".content.Kaurasuklaasmoothie"
            android:label="Kaurasuklaasmoothie"/>
        <activity
            android:name=".content.Myslimustikkamuffinsit"
            android:label="Mysli-mustikkamuffinsit"/>
        <activity
            android:name=".content.Kaurapuuro"
            android:label="Kaurapuuro"/>
        <activity
            android:name=".content.Tomaattikeitto"
            android:label="Tomaattikeitto"/>
        <activity
            android:name=".content.Broileripekonipasta"
            android:label="Broileripekonipasta"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>